#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(/img/001.jpg);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}
————————————————
版权声明：本文为CSDN博主「DreamyTZK」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/u012208219/article/details/106882981