@font-face {
  font-family: "iconfont"; /* Project id 2579950 */
  src: url('//at.alicdn.com/t/font_2579950_zkucxkccmrh.woff2?t=1622357953307') format('woff2'),
       url('//at.alicdn.com/t/font_2579950_zkucxkccmrh.woff?t=1622357953307') format('woff'),
       url('//at.alicdn.com/t/font_2579950_zkucxkccmrh.ttf?t=1622357953307') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e629";
  /* 修改颜色 */
  color: black;
  /* 修改大小 */
  font-size: 30px;
}

.icon-RSS_flat:before {
  content: "\e710";
  /* 修改颜色 */
  color: black;
  /* 修改大小 */
  font-size: 30px;
}

.icon-github:before {
  content: "\e722";
  /* 修改颜色 */
  color: black;
  /* 修改大小 */
  font-size: 30px;
}

.icon-csdn:before {
  content: "\e638";
  /* 修改颜色 */
  color: black;
  /* 修改大小 */
  font-size: 30px;
}

.icon-zhifubao:before {
  content: "\e62e";
  /* 修改颜色 */
  color: black;
  /* 修改大小 */
  font-size: 30px;
}

