/* 自定义字体 */
@font-face {
    font-family: 'sleek';
    src: url('https://cdn.jsdelivr.net/gh/lete114/CDN2/zaxiang/sleek.woff2');
}
/* 隐藏回到顶部按钮，替换为up酱 */

#go-up i {
    display: none;
    background-color: transparent !important;
}

#go-up {
    background-color: transparent !important;
}

#upj {
    transform: translate(-70px, -80px) !important;
}
/*新版3.0.0以上添加up酱置顶ico图标上移问题*/
.fas.fa-arrow-up {
    line-height: 2;
}